@use "../abstracts/" as *;
@use "./root" as *;
:where(body) {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
}

h1 {
  color:var(--clr-primary-400);
  font-weight: $fw-400;
  padding-block: .5em;
}